<div class="card shadow-sm">
    <div class="card-body">
        <h4 class="card-title mb-4 text-left">Sample Comparison</h4>

        <div class="row">
            <div class="col-md-4">
                <div class="mb-4">
                    <label for="measurementSelect" class="form-label"><strong>Measurement</strong></label>
                    <select
                        id="measurementSelect"
                        class="form-select"
                        [(ngModel)]="selectedMeasurement"
                        (change)="onMeasurementChange()"
                    >
                        <option *ngFor="let measurement of measurements" [ngValue]="measurement">
                            {{ measurement.device }} - {{ measurement.measurementDate | date: 'medium' }} - {{ measurement.user }}
                        </option>
                    </select>
                </div>

                <div class="mb-4">
                    <label><strong>Samples</strong></label>
                    <div *ngFor="let sample of selectedSamples; let i = index" class="mb-2 d-flex align-items-center">
                        <select
                            class="form-select me-2"
                            [(ngModel)]="selectedSamples[i]"
                            [disabled]="!availableSamples.length"
                            (change)="updateChart()"
                        >
                            <option *ngFor="let availableSample of availableSamples" [ngValue]="availableSample">
                                {{ availableSample.name }}
                            </option>
                        </select>
                        <button
                            *ngIf="selectedSamples.length > 1"
                            class="btn shadow-none"
                            (click)="removeSample(i)"
                        >
                            <span class="material-symbols-outlined d-block">close</span>
                        </button>
                    </div>

                    <button
                        class="btn btn-primary mt-2"
                        (click)="addEmptySample()"
                        [disabled]="!availableSamples.length"
                    >
                        <i class="bi bi-plus"></i> Add Another Sample
                    </button>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Sample Comparison Chart</h5>
                    </div>
                    <div class="card-body">
                        <canvas id="sampleComparisonChartCanvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
