.footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 15px;

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;

        li {
            float: left;
            padding: 15px;
        }

        p {
            margin: 5px 0;
        }

        a {
            color: #ecdbff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
