<div *ngIf="spectrumDetails$ | async as spectrum" class="container mt-4">
    <h2  class="mb-4">Spectrum Details</h2>
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Spectrum ID: {{ spectrum.id }}</h5>
            <p class="card-text">
                <strong>Spectrum Type:</strong> {{ spectrum.spectrumTypeName }}<br />
                <strong>Device:</strong> {{ spectrum.deviceName }}<br />
                <strong>Sample Id:</strong> {{ spectrum.sampleId }}<br />
                <strong>User:</strong> {{ spectrum.createdBy }}<br />
                <strong>Measurement Date:</strong> {{ spectrum.measurementDate | date:'medium' }}<br />
                <strong>Created At:</strong> {{ spectrum.createdAt | date:'medium' }}<br />
                <strong>Updated At:</strong> {{ spectrum.updatedAt | date:'medium' }}<br />
            </p>
            <button class="btn btn-primary" (click)="downloadSpectrumData(spectrum)">Download Spectrum Data</button>
        </div>
    </div>

    <h4 class="mb-3">Spectrum Data</h4>
    <pre>{{ JSON.parse(spectrum.spectrumSamples) | json }}</pre>
</div>
