<div *ngIf="spectrumDetails$ | async as spectrum" class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Spectrum Details</h2>
        <div>
            <button class="btn btn-primary me-2" (click)="editSpectrum(spectrum.id)">
                <i class="bi btn-primary"></i> Edit
            </button>
            <button class="btn btn-danger" (click)="deleteSpectrum(spectrum.id)">
                <i class="bi bi-trash"></i> Delete
            </button>
        </div>
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th scope="row" class="col-3">Spectrum ID</th>
                        <td>{{ spectrum.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-3">Spectrum Type</th>
                        <td>{{ spectrum.spectrumTypeName }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-3">Device</th>
                        <td>{{ spectrum.deviceName }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-3">Sample ID</th>
                        <td>{{ spectrum.sampleId }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-3">User</th>
                        <td>{{ spectrum.createdBy }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-3">Measurement Date</th>
                        <td>{{ spectrum.measurementDate | date: 'medium' }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-3">Created At</th>
                        <td>{{ spectrum.createdAt | date: 'medium' }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-3">Updated At</th>
                        <td>{{ spectrum.updatedAt | date: 'medium' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Spectrum Data</h4>
        <button class="btn btn-primary" (click)="downloadSpectrumData(spectrum)">
            <i class="bi bi-download"></i> Download Spectrum Data
        </button>
    </div>

    <div class="bg-light p-3 border rounded">
        <pre>{{ JSON.parse(spectrum.spectrumSamples) | json }}</pre>
    </div>
</div>
