<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Login</h2>
                    <form [formGroup]="loginFormGroup" (ngSubmit)="login()">

                        <div class="form-group mb-3">
                            <label for="username">Username:</label>
                            <input
                                type="text"
                                id="username"
                                class="form-control"
                                formControlName="username"
                                required
                                placeholder="Enter your username" />
                        </div>

                        <div class="form-group mb-3">
                            <label for="password">Password:</label>
                            <input
                                type="password"
                                id="password"
                                class="form-control"
                                formControlName="password"
                                name="password"
                                required
                                placeholder="Enter your password" />
                        </div>

                        <button type="submit" class="btn btn-primary w-100" [disabled]="!loginFormGroup.valid">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

