<div class="container registration-container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Register</h2>
            <form [formGroup]="registrationFormGroup" (ngSubmit)="register()">
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" id="username" class="form-control" formControlName="username" required />
                    <div
                        *ngIf="
                            registrationFormGroup.get('username').invalid &&
                            (registrationFormGroup.get('username').touched ||
                                registrationFormGroup.get('username').dirty)
                        "
                        class="text-danger"
                    >
                        <small *ngIf="registrationFormGroup.get('username').errors?.required"
                            >Username is required.</small
                        >
                        <small *ngIf="registrationFormGroup.get('username').errors?.min"
                            >Username should contain at least 5 characters.</small
                        >
                        <small *ngIf="registrationFormGroup.get('username').errors?.max"
                            >Username should contain maximum of 15 characters.</small
                        >
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" class="form-control" formControlName="password" required />
                    <div
                        *ngIf="
                            registrationFormGroup.get('password').invalid &&
                            (registrationFormGroup.get('password').touched ||
                                registrationFormGroup.get('password').dirty)
                        "
                        class="text-danger"
                    >
                        <small *ngIf="registrationFormGroup.get('password').errors?.required"
                            >Password is required.</small
                        >
                        <small *ngIf="registrationFormGroup.get('password').errors?.min"
                            >Password should contain at least 5 characters.</small
                        >
                        <small *ngIf="registrationFormGroup.get('password').errors?.max"
                            >Password should contain maximum of 15 characters.</small
                        >
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" id="email" class="form-control" formControlName="email" required />
                    <div
                        *ngIf="
                            registrationFormGroup.get('email').invalid &&
                            (registrationFormGroup.get('email').touched || registrationFormGroup.get('email').dirty)
                        "
                        class="text-danger"
                    >
                        <small *ngIf="registrationFormGroup.get('email').errors?.required">Email is required.</small>
                        <small *ngIf="registrationFormGroup.get('email').errors?.email"
                            >Please enter a valid email address.</small
                        >
                        <small *ngIf="registrationFormGroup.get('email').errors?.min"
                            >Email should contain at least 5 characters.</small
                        >
                    </div>
                </div>

                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name:</label>
                    <input type="text" id="firstName" class="form-control" formControlName="firstName" required />
                    <div
                        *ngIf="
                            registrationFormGroup.get('firstName').invalid &&
                            (registrationFormGroup.get('firstName').touched ||
                                registrationFormGroup.get('firstName').dirty)
                        "
                        class="text-danger"
                    >
                        <small *ngIf="registrationFormGroup.get('firstName').errors?.required"
                            >First name is required.</small
                        >
                    </div>
                </div>

                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name:</label>
                    <input type="text" id="lastName" class="form-control" formControlName="lastName" required />
                    <div
                        *ngIf="
                            registrationFormGroup.get('lastName').invalid &&
                            (registrationFormGroup.get('lastName').touched ||
                                registrationFormGroup.get('lastName').dirty)
                        "
                        class="text-danger"
                    >
                        <small *ngIf="registrationFormGroup.get('lastName').errors?.required"
                            >Last name is required.</small
                        >
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100" [disabled]="!registrationFormGroup.valid">
                    Register
                </button>
            </form>
        </div>
    </div>
</div>
