.nav-link .material-icons {
    vertical-align: middle;
    margin-right: 8px;
}

.sidebar {
    height: 100vh;
}

.sidebar .nav-item .material-icons {
    font-size: 24px;
    display: block;
    margin-bottom: 4px;
}
