<div class="d-flex flex-column flex-shrink-0 bg-light">
    <a href="/" class="d-block p-3 navbar-brand" title="Document Analysis App" style="font-weight: bold">
        Document Analysis App
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item py-3 border-bottom">
            <a
                class="nav-link py-3 border-bottom"
                routerLink="/dashboard"
                routerLinkActive="active"
                aria-current="page"
            >
                <span class="material-icons">dashboard</span> Dashboard
            </a>
        </li>
        <li class="nav-item py-3 border-bottom">
            <a
                class="nav-link py-3 border-bottom"
                routerLink="/spectra"
                routerLinkActive="active"
                aria-current="page"
            >
                <span class="material-icons">insights</span> Spectra
            </a>
        </li>
        <li class="nav-item py-3 border-bottom">
            <a
                class="nav-link py-3 border-bottom"
                routerLink="/spectrum-similarities"
                routerLinkActive="active"
                aria-current="page"
            >
                <span class="material-icons">compare</span> Spectra Similarities
            </a>
        </li>
        <li class="nav-item py-3 border-bottom">
            <a
                class="nav-link py-3 border-bottom"
                routerLink="/samples"
                routerLinkActive="active"
                aria-current="page"
            >
                <span class="material-icons">inventory</span> Samples
            </a>
        </li>
        <li class="nav-item py-3 border-bottom">
            <a
                class="nav-link py-3 border-bottom"
                routerLink="/measuring-devices"
                routerLinkActive="active"
                aria-current="page"
            >
                <span class="material-icons">precision_manufacturing</span> Measuring Devices
            </a>
        </li>
        <div class="vr"></div>
        <li class="nav-item py-3 border-bottom">
            <a class="nav-link navbar-username">
                <span class="material-icons">account_circle</span> johny
            </a>
        </li>
        <li class="nav-item py-3 border-bottom">
            <a
                class="nav-link py-3 border-bottom"
                routerLink="/logout"
                routerLinkActive="active"
            >
                <span class="material-icons">logout</span> Logout
            </a>
        </li>
    </ul>
</div>


