<div class="d-flex flex-column flex-shrink-0 bg-light">
    <a href="/" class="d-block p-3 navbar-brand" title="Document Analysis App" style="font-weight: bold">
        Document Analysis App
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item py-3 border-bottom">
            <a class="nav-link active py-3 border-bottom" aria-current="page" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item py-3 border-bottom">
            <a class="nav-link active py-3 border-bottom" aria-current="page" routerLink="/spectra">Spectra</a>
        </li>
        <li class="nav-item py-3 border-bottom">
            <a class="nav-link active py-3 border-bottom" aria-current="page" routerLink="/spectrum-similarities">Spectra Similarities
            </a>
        </li>
        <li class="nav-item py-3 border-bottom">
            <a class="nav-link active py-3 border-bottom" aria-current="page" routerLink="/samples">Samples</a>
        </li>
        <li class="nav-item py-3 border-bottom">
            <a class="nav-link active py-3 border-bottom" aria-current="page" routerLink="/measuring-devices">Measuring Devices</a>
        </li>
        <div class="vr"></div>
        <li class="nav-item py-3 border-bottom">
            <a class="nav-link navbar-username">johny</a>
        </li>
        <li class="nav-item py-3 border-bottom">
            <a class="nav-link active py-3 border-bottom" routerLink="/logout">Logout</a>
        </li>
    </ul>
</div>

