<div class="d-flex flex-column flex-shrink-0 sidebar" [ngClass]="{ 'expanded': isSidebarExpanded, 'collapsed': !isSidebarExpanded }">

    <a href="/" class="d-block mx-auto mb-auto navbar-brand logo-container" title="Document Analysis App">
        <img ngSrc="/logo.png" alt="Document Analysis App" class="logo-image" height="500" width="500" />
    </a>

    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item py-3" *ngFor="let item of navItems">
            <a
                class="nav-link py-3"
                [routerLink]="item.link"
                routerLinkActive="active"
                aria-current="page"
            >
                <span class="material-symbols-outlined d-block">{{ item.icon }}</span>
                <span *ngIf="isSidebarExpanded">{{ item.label }}</span>
            </a>
        </li>
    </ul>

    <ul class="nav nav-pills nav-flush flex-column mt-auto text-center">
        <button (click)="toggleSidebar()" class="nav-link">
            <span class="material-symbols-outlined">{{ isSidebarExpanded ? 'chevron_left' : 'chevron_right' }}</span>
        </button>

        <li class="nav-item py-3">
            <a class="nav-link">
                <span class="material-symbols-outlined d-block">account_circle</span>
                <span *ngIf="isSidebarExpanded">johny</span>
            </a>
        </li>
        <li class="nav-item py-3">
            <a class="nav-link" routerLink="/logout" routerLinkActive="active">
                <span class="material-symbols-outlined d-block">logout</span>
                <span *ngIf="isSidebarExpanded">Logout</span>
            </a>
        </li>
    </ul>
</div>
