html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main {
    flex-grow: 1;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import "jsoneditor/dist/jsoneditor.min.css";
textarea.jsoneditor-text{min-height:350px;}

/* Core Data Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';
