<div class="container mt-4">
    <h2 class="mb-4">Edit Spectrum</h2>

    <form [formGroup]="spectrumForm" (ngSubmit)="save()">
        <div class="mb-3">
            <label for="spectrumTypeName" class="form-label">Spectrum Type</label>
            <select id="spectrumTypeName" class="form-select" formControlName="spectrumTypeName">
                <option *ngFor="let type of spectrumTypes" [value]="type.name">
                    {{ type.name }}
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="deviceName" class="form-label">Device Name</label>
            <select id="deviceName" class="form-select" formControlName="deviceName">
                <option *ngFor="let device of devices" [value]="device.name">
                    {{ device.name }}
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="sampleId" class="form-label">Sample ID</label>
            <input type="text" id="sampleId" class="form-control" formControlName="sampleId" />
        </div>

        <div class="mb-3">
            <label for="createdBy" class="form-label">Created By</label>
            <input type="text" id="createdBy" class="form-control" formControlName="createdBy" />
        </div>

        <div class="mb-3">
            <label for="measurementDate" class="form-label">Measurement Date</label>
            <!--            TODO check whether datetime-local below is really working      -->
            <input type="datetime-local" id="measurementDate" class="form-control" formControlName="measurementDate" />
        </div>

        <!--        <div class="mb-3">-->
        <!--            <label for="spectrumSamples">Spectrum Samples (JSON)</label>-->
        <!--            <textarea id="spectrumSamples" class="form-control" formControlName="spectrumSamples" rows="5"></textarea>-->
        <!--        </div>-->

        <div style="height:300px;">
            <json-editor
                [options]="editorOptions"
                formControlName="spectrumSamples" id="spectrumSamples"
            ></json-editor>
        </div>


        <button type="submit" class="btn btn-success" [disabled]="spectrumForm.invalid">Save</button>
        <button type="button" class="btn btn-secondary ms-2" (click)="goSpectrumDetails()">Cancel</button>
    </form>
</div>
