<div class="container mt-4">
    <h2 class="mb-4">Edit Sample</h2>

    <form [formGroup]="sampleForm" (ngSubmit)="save()">
        <div class="mb-3">
            <label for="name" class="form-label">Sample Name</label>
            <input type="text" id="name" class="form-control" formControlName="name" />
        </div>

        <div class="mb-3">
            <label for="type" class="form-label">Sample Type</label>
            <select id="type" class="form-select" formControlName="type">
                <option *ngFor="let type of spectrumTypes" [value]="type">{{ type }}</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="measurementId" class="form-label">Measurement</label>
            <select id="measurementId" class="form-select" formControlName="measurementId">
                <option *ngFor="let measurement of measurements" [value]="measurement.id">
                    Id: {{ measurement.id }}, {{ measurement.device }} -
                    {{ measurement.measurementDate | date: 'medium' }}
                </option>
            </select>
        </div>

        <div class="mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <label for="spectralData" class="form-label">Spectral Data (JSON)</label>
                <button type="button" class="btn btn-secondary btn-sm" (click)="triggerCsvUpload()">
                    Import CSV
                </button>
            </div>
            <json-editor [options]="editorOptions" formControlName="spectralData" id="spectralData"></json-editor>
        </div>

        <input type="file" #csvUpload style="display: none" (change)="onCsvUpload($event)" accept=".csv" />

        <button type="submit" class="btn btn-success" [disabled]="sampleForm.invalid">Save</button>
        <button type="button" class="btn btn-secondary ms-2" (click)="goSampleDetails()">Cancel</button>
    </form>
</div>
